@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.recipe {
    padding-top: 30px;
    font-family: 'Montserrat', sans-serif;
}
.label_recipe {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.author_recipe {
    font-size: 15px;
}

.title_recipe {
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 0;
}