<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content%}
        <h1 class="title_home">ShareRecipe<h1>
        <div class="intro_home"> 
            <p>Welcome to RecipeShare, the perfect web application for food lovers! With RecipeShare, you can discover new recipes, share your favorite ones. Our easy-to-use platform allows you to browse through a vast collection of recipes uploaded by other users.</p>
            <p>Whether you're looking for a quick and easy recipe for your busy weeknights or want to impress your guests with a fancy dinner, RecipeShare has got you covered. You can find recipes for all occasions and tastes, from classic comfort food to exotic international dishes. Plus, you can also upload your own recipes and share them with our community of food enthusiasts.</p>
            <p>So what are you waiting for? Join the RecipeShare community today and start sharing your love for food!</p>
        </div>
        <div class="welcome_button">
            <a href="{{ url_for('auth.sign_up') }}" class="btn btn-primary btn-lg" role="button">Start Here</a>
        </div>


{% endblock %}