<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content%}
        <div class="title_add">
            <h1 class="title_home">ShareRecipe<h1> 
                <a href="{{ url_for('auth.create') }}" class="btn btn-primary btn-lg" role="button">+</a>
                <a href="{{ url_for('auth.search') }}" class="btn btn-primary btn-lg" role="button">?</a>
            </div>
        {% for recipe in recipes %}
        <a href="{{ url_for('views.recipe', recipe_id=recipe.id) }}" class="recipe-link">
            <p class="name_recipe">{{ recipe.title }}</p>
        </a>
        
        {% endfor %}

{% endblock %}