<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recipe.css') }}">


{% extends "base.html" %}
{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
  <div class="recipe">
    <h1 class="title_recipe">{{ recipe.title }}</h1>
    <p>Category: {{ recipe.category }}</p>
    <p class="label_recipe">Ingredients:</p>
    <p class="user_recipe">{{ recipe.ingredients }}</p>
    <p class="label_recipe">Instructions:</p>
    <p class="user_recipe">{{ recipe.instructions }}</p>
    <p class="label_recipe">Posted by: {{ recipe.user.first_name }}</p>
    {% if recipe.user == current_user %}
    <form action="{{ url_for('auth.delete_recipe', recipe_id=recipe.id) }}" method="post">
        <button type="submit" class="btn btn-danger">Delete Recipe</button>
    </form>
    {% endif %}
</div>
{% endblock %}